/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

header {
    padding: 100px 20px;
    background: url('assets/hero-banner.png') no-repeat center center / cover;
    color: #fff;
}

.logo {
    width: 150px;
    animation: float 3s ease-in-out infinite;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Hero Section */
#hero {
    background-color: #00aaff;
    padding: 60px 0;
    text-align: center;
    color: #fff;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 200px; /* Adjust the width for mobile */
}

.cta-button {
    background-color: #ff8800;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
}

.cta-button:hover {
    background-color: #ff6600;
}

/* Tokenomics Section */
#tokenomics {
    padding: 60px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.stats {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on small screens */
    justify-content: space-around;
    margin-top: 20px;
}

.stat-item {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Interactive Section */
#interactive {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
}

.interactive-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff8800;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.interactive-button:hover {
    background-color: #ff6600;
}

#coin-counter {
    margin-top: 20px;
    font-size: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-links a {
    color: #00aaff;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .cta-button, .interactive-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .stat-item {
        margin: 10px 0;
    }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}